<header>
    <nav>
        <h2><a href="/">Bibrary</a></h2>
        <ul>
            <li><a href="/author">All Author</a></li>
            <li><a href="/author/new">New Author</a></li>
        </ul>
    </nav>
</header>